[Unit]
Description=NATS Server
After=network-online.target

[Service]
Type=simple

User=root
Group=root
UMask=007

ExecStart=nats-streaming-server -sc /etc/nats/streaming.conf -clustered -l {{ nats_streaming_server_log_file | default('/var/log/nats/nats_streaming.log') }}
ExecReload=nats-server -sc /etc/nats/streaming.conf --sl reload

Restart=always

WorkingDirectory=/var/lib/nats

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

{% if nats_encryption_key_env_var is defined %}
Environment=NATS_STREAMING_ENCRYPTION_KEY={{nats_encryption_key_env_var}}
{% endif %}


[Install]
WantedBy=multi-user.target
