[Unit]
Description=NATS Server
After=network-online.target

[Service]
Type=simple

User=root
Group=root
UMask=007

ExecStart=nats-server -c /etc/nats/streaming.conf
#-store file -dir store -clustered -cluster_id swarm -cluster_node_id node-$i \
#                                                                            -cluster_peers node-1,node-2,node-3 \
#                                                                            -nats_server nats://nats-cluster-node-1:4222,nats://nats-cluster-node-2:4222,nats://nats-cluster-node-3:4222
ExecReload=nats-server -c /etc/nats/streaming.conf --signal reload

Restart=always

WorkingDirectory=/var/nats

#Environment=RUST_BACKTRACE=1
#Environment=RUST_LOG=info

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
